@font-face {
    font-family: Bender;
    src: url("../font/bender.otf") format("opentype");
}
@font-face {
    font-family: Neusa;
    src: url("../font/neusa-demibold.otf") format("opentype");
}

html{
    background-color: #111111;
    font-family: 'Bender';
    color: #aeaeb0;
    font-size: medium;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ae9b76;
    border-radius: 10px;
  }

button {
    box-shadow: 0 0 100px rgba(65,61,52,1), 0 0 6px rgba(232,190,107,0.8);
    background: #9a8866;
    color: black;
    margin: 0;
    padding: 5px 15px 5px 15px;
    font-family: 'Bender';
    border:none;
    font-size: medium;
    border-radius: 2px;
    transition: background 0.5s;
}

button:hover{
    background: #ae9b76;
}
button.disabled{
    background: #5a4f38;
    box-shadow: none;
}

#items{
    display: inline-block;
    align-items: center;
    text-align: center;
}

div.container {
    margin:5px;
    border-radius:10px;
    color: #aeaeb0;
    font-family: "Neusa";
    font-size:40px;
    overflow: auto;
    padding: 20px;
    display: inline-block;
}
.item{
    margin:0;
}
#search{
    -webkit-font-smoothing: antialiased !important;
    font-family: "Bender";
    box-shadow: 0 0 100px rgba(65,61,52,1), 0 0 6px rgba(232,190,107,0.8);
    border: none;
    padding: 8px 8px;
    margin-right: 10px;
    font-size: 15px;
    background: #000000;
    color: #9a8866;
    border-radius: 3px;
    max-width: 100%;
    outline: none;
}

div.underline{
    margin-left: 25%;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(255,255,255) 15%, rgb(255,255,255) 85%, rgba(0,0,0,0) 100%);
    width:50%;
    height: 3px;
}

.section{
    text-align: center;
    margin:10px
}

.sectiontitle {
    font-size: xx-large;
    font-family: 'Bender';
    color: #aeaeb0;
    
}

.itemimage {
    float: left;    
    margin: 0 15px 0 0;
}

.itemname {
    font-family: 'Bender';
    font-size: large;
}

#footer{
    text-align: center;
    font-size: medium;
}

.link{
    text-decoration: none;
    color: #9a8866;
    transition: color 0.2s;
}

.link:hover{
    color: #d5b67a;
}


#overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    vertical-align: middle;
    background: url(../assets/news_bg.png) repeat top left scroll;
}

.over{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:white;
    height: fit-content;
    background: url(../assets/news_bg_opaque.png) repeat top left scroll;
    padding: 20px 0 20px 20px;
}
.module{
    display: inline-block;
    color:white;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,0,0,0.9);
    padding: 20px 20px 20px 20px;
    margin: 5px;
    border-radius: 10px;
}
.module > span{
    font-size: x-large;
}

#searchoverlay{
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 5;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}